<ion-app>
  <ion-menu side="start"  menuId="barang" >
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle menu="barang">
          <ion-item lines="none" routerLink="/home">
            <ion-icon name="home" slot="start"></ion-icon>
            <ion-label>Home</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle menu="barang">
          <ion-item lines="none" routerLink="/admin">
            <ion-icon name="people" slot="start"></ion-icon>
            <ion-label>Admin</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle menu="barang">
          <ion-item lines="none" routerLink="/about-me">
            <ion-icon name="megaphone" slot="start"></ion-icon>
            <ion-label>About Me</ion-label>
          </ion-item>
        </ion-menu-toggle>

      </ion-list>
    </ion-content>

    <ion-footer>
      <ion-list >
        <ion-menu-toggle menu="barang">
          <ion-item lines="none" routerLink="/about-me">
            <ion-label>Exit</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-footer>
  </ion-menu>


  <ion-router-outlet main></ion-router-outlet>
</ion-app>
