<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="barang"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button *ngIf="mode === 'list'" (click)="switch()">
        <ion-icon name="grid"></ion-icon>
      </ion-button>
      <ion-button *ngIf="mode === 'grid'" (click)="switch()">
        <ion-icon name="list"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-grid *ngIf="mode === 'list'">
    <ion-row>
      <ion-col size="12" size-md="8" offset-sm="2">
        <ion-list>
          <ion-item *ngFor="let cp of cpus" [routerLink]="['cpu/',cp.idCPU]" >
              <ion-thumbnail slot="start">
                  <img [src]="cp.imgCPU">
              </ion-thumbnail>
              <ion-list>
                <ion-label>
                  {{ cp.merkCPU + ' ' + cp.modelCPU}}
                </ion-label>
                <ion-label>
                  {{ cp.hargaCPU | currency : "Rp." }}
                </ion-label>
                <ion-label>
                  Tersedia: {{ cp.stokCPU}}
                </ion-label>
              </ion-list>
          </ion-item>

          <!--gpu-->
          <ion-item *ngFor="let gp of gpu" [routerLink]="['gpu/', gp.idGPU]" >
              <ion-thumbnail slot="start">
                <img [src]="gp.imgGPU">
              </ion-thumbnail>
              <ion-list>
                <ion-label>
                  {{ gp.merkGPU + ' ' + gp.modelGPU}}
                </ion-label>
                <ion-label>
                  {{ gp.hargaGPU | currency : "Rp." }}
                </ion-label>
                <ion-label>
                  Tersedia: {{ gp.stokGPU}}
                </ion-label>
              </ion-list>
          </ion-item>

          <!--mobo-->
          <ion-item *ngFor="let mb of mobo" [routerLink]="['mobo/', mb.idMOBO]" >
            <ion-thumbnail slot="start">
              <img [src]="mb.imgMOBO">
            </ion-thumbnail>
            <ion-list>
              <ion-label>
                {{ mb.merkMOBO + ' ' + mb.modelMOBO}}
              </ion-label>
              <ion-label>
                {{ mb.hargaMOBO | currency : "Rp." }}
              </ion-label>
              <ion-label>
                Tersedia: {{ mb.stokMOBO}}
              </ion-label>
            </ion-list>
          </ion-item>

          <!--Ram-->
          <ion-item *ngFor="let rm of ram" [routerLink]="['ram/', rm.idRAM]" >
            <ion-thumbnail slot="start">
              <img [src]="rm.imgRAM">
            </ion-thumbnail>
            <ion-list>
              <ion-label>
                {{ rm.merkRAM + ' ' + rm.modelRAM}}
              </ion-label>
              <ion-label>
                {{ rm.hargaRAM | currency : "Rp." }}
              </ion-label>
              <ion-label>
                Tersedia: {{ rm.stokRAM}}
              </ion-label>
            </ion-list>
          </ion-item>

        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="mode === 'grid'">
    <ion-row>
      <ion-col *ngFor="let cp of cpus" size="6" [routerLink]="['cpu/',cp.idCPU]">
        <ion-card>
          <ion-card-header>
            <img src="{{cp.imgCPU}}">
          </ion-card-header>
          <ion-card-content>
            <br>
            <ion-label>{{ cp.merkCPU + ' ' + cp.modelCPU}}</ion-label><br>
            <ion-label>{{ cp.hargaCPU | currency : "Rp." }}</ion-label><br>
            <ion-label> Tersedia: {{ cp.stokCPU}}</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col *ngFor="let gp of gpu" size="6" [routerLink]="['gpu/',gp.idGPU]">
        <ion-card>
          <ion-card-header>
            <ion-img  [src]="gp.imgGPU"></ion-img>
          </ion-card-header>
          <ion-card-content>
            <br>
            <ion-label>{{ gp.merkGPU + ' ' + gp.modelGPU}}</ion-label><br>
            <ion-label>{{ gp.hargaGPU | currency : "Rp." }}</ion-label><br>
            <ion-label>Tersedia: {{ gp.stokGPU}}</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col *ngFor="let mb of mobo" size="6" [routerLink]="['mobo/',mb.idMOBO]">
        <ion-card>
          <ion-card-header>
            <ion-img  [src]="mb.imgMOBO"></ion-img>
          </ion-card-header>
          <ion-card-content>
            <br>
            <ion-label>{{ mb.merkMOBO + ' ' + mb.modelMOBO}}</ion-label><br>
            <ion-label>{{ mb.hargaMOBO | currency : "Rp." }}</ion-label><br>
            <ion-label>Tersedia: {{ mb.stokMOBO}}</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col *ngFor="let rm of ram" size="6" [routerLink]="['ram/',rm.idRAM]">
        <ion-card>
          <ion-card-header>
            <ion-img  [src]="rm.imgRAM"></ion-img>
          </ion-card-header>
          <ion-card-content>
            <br>
            <ion-label>{{ rm.merkRAM + ' ' + rm.modelRAM}}</ion-label><br>
            <ion-label>{{ rm.hargaRAM | currency : "Rp." }}</ion-label><br>
            <ion-label>Tersedia: {{ rm.stokRAM}}</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
